body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	margin: auto;
	width: 80%;
	height: 100%;
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-evenly;
	background: #dddddd;
	padding: 0;
	margin: 0;
}

ul {
	display: flex;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

li {
	width: 100%;
	text-align: center;
	line-height: 3rem;
}

li:hover {
	background: #eeeeee;
}
